
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  overflow-x: hidden;
}
body{
  position: relative;
}


@layer base {
  html {
    font-family: 'Patrick Hand', sans-serif;
  }
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }
    h1 {
      @apply text-4xl;
      @apply font-bold;
    }
    h2 {
      @apply text-3xl;
      @apply font-bold;
    }
    h3 {
      @apply text-2xl;
      @apply font-bold;
    }
    h4 {
      @apply text-xl;
      @apply font-semibold;
    }
   
    h6 {
      @apply text-sm;
      @apply font-semibold;
    }
  }

.svg-draw{
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000px;
  animation: animate 9s forwards;
  stroke-width: 0.5px;
  display: block;
  
}

@media screen and (min-width:640px){
  .svg-draw{
  display: none;
  }
}

@keyframes animate {
  to{
    stroke-dashoffset: 0px;
  }
}
